.brand {
  text-align: left;
  line-height: 95%;
  padding-top: 5%;
  padding-left: 5%;
}

.brand-title::first-letter {
  color: white;
}

.brand-title.fl {
  font-weight: 400;
}

.brand-title {
  font-family: 'Cabin', sans-serif;
  font-size: 2.5em;
  font-variant: small-caps;
  font-weight: 400;
}

.brand-sub {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding-left: 1px;
}

.items {
  font-family: 'Open Sans', sans-serif;
}

.banner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("https://images.unsplash.com/photo-1494488180300-4c634d1b2124?auto=format&fit=crop&w=1489&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
}

.banner{
  position: relative;
  left: 0;
  right: 0;
  z-index: 0;
}

.banner-title {
  font-family: 'Cabin', sans-serif;
  font-size: 3.5em;
  color: white;
}

.banner-subtext {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  color: white;
}

.vertical-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-align {
  /* use class v-align as child of v-box */
}

.send {
  font-variant: small-caps;
}

/* Bulma */

.navbar-item img {
  max-height: 2.7rem;
}


.column.is-vcentered {
  align-items: center;
}
